


		<div class="wrapper">
			<div class="image-holder">
			</div>
			<div class="form-inner">
				<form #loginForm="ngForm" novalidate [formGroup]="registreForm" (ngSubmit)="onSubmit()">

					<div class="form-header" *ngIf="authType=='registrer'">
						<h3><a style="color:white;">Créer un compte</a></h3>
						<img src="../../assets/images/sign-up.png" alt="" class="sign-up-icon">
					</div>
					<div class="form-header" *ngIf="authType=='login'">
						<h3><a style="color:white;" >Se connecter</a></h3>
						<img src="../../assets/images/sign-up.png" alt="" class="sign-up-icon">
					</div>
					<div class="form-group">
						<label style="color:white;" for="">Username:</label>
						<input type="text" name="username" [(ngModel)]="user.username" class="form-control"
							formControlName="username" required>
						<span class="text-danger"
							*ngIf="(registreFormControl.username.touched || submitted) && registreFormControl.username.errors?.required">
							Nom est obligatoire
						</span>
					</div>
 			
					  <div class="form-group">
						<label style="color:white;" for="">Mot de passe:</label>
						<input type="password" name="pwd" [(ngModel)]="user.pwd" class="form-control" formControlName="pwd"
							required>
						<span class="text-danger"
							*ngIf="(registreFormControl.pwd.touched || submitted) && registreFormControl.pwd.errors?.required">
							Mot de passe est obligatoire
						</span>
						<span class="text-danger"
							*ngIf="registreFormControl.pwd.touched && registreFormControl.pwd.errors?.invalidPassword">
							Un mot de passe doit contenir au minimum 8 caractères et comporter au moins une lettre minuscule,une lettre majuscule et un chiffre
						</span>
					</div>
					
					<div class="alert alert-danger" *ngIf="errMsg">
						{{ errMsg }}
					</div>
					<button type="submit" *ngIf="authType=='registrer'" (click)="onRegister(user)">crée un compte</button>
					<button  type="submit" *ngIf="authType =='login'" (click)="onLogin(user)">se connecter</button>
			<p></p>
			<p *ngIf="authType=='registrer'" style="text-align: center"><a style="color:white;font-size: medium;" routerLink="['/login']" (click)="onPageLogin()">Se connecter</a></p>
			<p *ngIf="authType=='login'"  style="text-align: center"><a style="color:white;font-size: medium;" routerLink="['/registrer']" routerLinkActive="router-link-active"
				(click)="onPageRegister()">Nouvel utilisateur ? Créer un compte</a></p>
				</form>
			</div>
			
		</div>
		

