

<div mat-dialog-content class="dialog">
    <form>
      <label>Titre de la List</label>
      <input matInput [(ngModel)]="listAjout.titre" name="titre">
    </form>
  </div>
  <div mat-dialog-actions>
    <button  type="button" id="persoButton" class="btn btn-success"  mat-dialog-close mat-dialog-close="false">Close</button>
    <button  type="button" id="persoButton" class="btn btn-success" [mat-dialog-close]="listAjout" cdkFocusInitial>OK</button>
  </div>