
<div mat-dialog-content class="dialog">
  <form>
    <label>Titre de la tâche</label>
    <input matInput [(ngModel)]="tacheAjout.titre_tache" name="titre_tache">
  
    <label>Description</label>
    <textarea class="example-full-width" id="textarea" name="description" matInput [(ngModel)]="tacheAjout.description"></textarea>

    <label>Date d'échéance</label>
    <input matInput [(ngModel)]="tacheAjout.date_fin" name="date_fin">

  </form>
</div>
<div mat-dialog-actions>
  <button  type="button" id="persoButton" class="btn btn-success"  mat-dialog-close mat-dialog-close="false">Close</button>
  <button  type="button" id="persoButton" class="btn btn-success" [mat-dialog-close]="tacheAjout" cdkFocusInitial>OK</button>
</div>