@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

input[type=text].ng-valid  {
    border-left: 5px solid #42A948; /* green */
   }
input[type=text].ng-invalid {
    border-left: 5px solid rgb(197, 95, 95) ;
    }

    input[type=password].ng-valid  {
        border-left: 5px solid #42A948; /* green */
       }
    input[type=password].ng-invalid {
        border-left: 5px solid rgb(197, 95, 95)
        }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
