<nb-layout>
  <nb-layout-header fixed>
    <h3>To-Do-List</h3>
  </nb-layout-header>

  <nb-sidebar *ngIf="hiddenList">

    <div class="scrollable">
      <nb-action icon="edit-outline" (click)="ajouterUneList()"></nb-action>
      <div class="radio" *ngFor="let item of listsToDo">
        <label>
          <input type="radio" name="keys_on_hand" [value]="item.titre" (change)="onDetail(item.titre)">
          {{item.titre}}
        </label>
      </div>


    </div>
  </nb-sidebar>

  <nb-layout-column>
     <nb-layout-header subheader>
      <nb-actions size='tiny'>
       
        <nb-action (click)="onDisplayList()"><span><List</span></nb-action>
        <nb-action (click)="onHideList()"><a>x</a></nb-action>
        <nb-action icon="edit-outline" (click)="openWindow()"></nb-action>
        <nb-action ><a>Liste choisie: {{titre_list_choisi}}</a></nb-action>
        <nb-action (click)="onHide()"><a>x</a></nb-action>
        <nb-action (click)="onDisplay()"><a>Détails></a></nb-action>
      </nb-actions>
      
    </nb-layout-header> 
    <i class="fa fa-ad"></i>
    <div>
  
    <div class="radio">
      <div *ngFor="let item of list.taches; let i = index">
        <label>
          <input type="radio" name="keys_on_hand" (change)="onDetailTache(i,list)">
          {{item.titre_tache}}
        </label>
      </div>
    </div>
  </div>
  </nb-layout-column>

  <nb-layout-column class="colored-column-info" *ngIf="hidden">
    {{onetache.titre_tache}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Date de création</th>
          <th scope="col">Date d'échéance</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{onetache.description}}</td>
          <td>{{onetache.date_creation}}</td>
          <td>{{onetache.date_fin}}</td>
          <td>Supprimer</td>
        </tr>
      </tbody>
    </table>
  </nb-layout-column>
</nb-layout>

